/*	 注册div 	*/
#regist{
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.075);
    color: #333;
    min-height: 400px;
    padding: 0 23px;
    position: absolute;
    right: 0;
    top: -60px;
    width: 310px;
}

#regist input{
	height: 30px; width: 170px; 
}
#regist .mt {
	BACKGROUND: url(i/tit_regist.jpg) repeat-x 0px -34px; HEIGHT: 33px
}
#regist .mt H2 {
	LINE-HEIGHT: 33px; PADDING-LEFT: 15px; BACKGROUND: url(i/tit_regist.jpg) no-repeat 0px 0px; FLOAT: left; HEIGHT: 33px
}
#regist .mt SPAN {
	TEXT-ALIGN: right; LINE-HEIGHT: 33px; FLOAT: right; HEIGHT: 33px
}
#regist .mt B {
	WIDTH: 10px; BACKGROUND: url(i/tit_regist.jpg) no-repeat 0px -68px; FLOAT: right; HEIGHT: 33px
}
#regist .mc {
	BORDER-BOTTOM: #d1d1d1 1px solid; BORDER-LEFT: #d1d1d1 1px solid; PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; MARGIN-BOTTOM: 10px; BORDER-TOP: #d1d1d1 0px solid; BORDER-RIGHT: #d1d1d1 1px solid; PADDING-TOP: 15px
}
#regist .registTop {
	BORDER-BOTTOM: #ffcc66 1px solid; PADDING-LEFT: 300px; MARGIN-BOTTOM: 25px; HEIGHT: 29px; OVERFLOW: visible;
}
#regist .registTop h1{
	color: #a0410a; font-size: 16px; font-weight: normal; font-family: "Microsoft YaHei","微软雅黑","黑体";
}
#regist .registTop h1 strong{
	margin-left:40%;
}

* HTML #regist .registTop {
	OVERFLOW: hidden
}
#regist .item {
	LINE-HEIGHT: 26px; HEIGHT: 50px; PADDING-TOP: 5px;
}
#regist .item A:link {
	TEXT-DECORATION: underline
}
#regist .item A:visited {
	TEXT-DECORATION: underline
}
#regist .label {
	TEXT-ALIGN: right; WIDTH: 300px; FONT-SIZE: 14px
}
#regist .label B {
	FONT-FAMILY: "????"; FONT-WEIGHT: normal; MARGIN-RIGHT: 5px
}
#regist .text {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 3px; WIDTH: 240px; PADDING-RIGHT: 3px; FONT-FAMILY: arial,"????"; HEIGHT: 16px; FONT-SIZE: 14px; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid; PADDING-TOP: 4px
}
#regist .text-1 {
	WIDTH: 100px
}
#regist .blank {
	MARGIN: 2px 5px 0px; WIDTH: 16px; HEIGHT: 16px
}
#regist .img IMG {
	MARGIN: 0px 5px; HEIGHT: 26px
}
#regist .succeed {
	BACKGROUND: url(i/pwdstrength.gif) no-repeat -105px 0px
}
#regist .btn-regist {
	WIDTH: 169px; BACKGROUND: url(i/new-regist.jpg) no-repeat 0px 0px; HEIGHT: 30px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#regist .highlight1 {
	BORDER-BOTTOM: #ffcc66 2px solid; BORDER-LEFT: #ffcc66 2px solid; PADDING-BOTTOM: 3px; OUTLINE-STYLE: solid; OUTLINE-COLOR: #ffdc97; PADDING-LEFT: 2px; OUTLINE-WIDTH: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #ffcc66 2px solid; BORDER-RIGHT: #ffcc66 2px solid; PADDING-TOP: 3px
}
#regist .highlight2 {
	BORDER-BOTTOM: #f00 1px solid; BORDER-LEFT: #f00 1px solid; OUTLINE-STYLE: solid; OUTLINE-COLOR: #ffc1c1; OUTLINE-WIDTH: 1px; COLOR: #f00; BORDER-TOP: #f00 1px solid; BORDER-RIGHT: #f00 1px solid
}
#regist .pwdbg {
	BACKGROUND: #fff8eb
}
#regist .focus {
	LINE-HEIGHT: 20px; COLOR: #999
}
#regist .null {
	LINE-HEIGHT: 20px; COLOR: red
}
#regist .error {
	LINE-HEIGHT: 20px; COLOR: red
}
#regist .checkbox {
	MARGIN-TOP: 2px
}
#regist #referrer {
	COLOR: #999; FONT-SIZE: 12px
}
#pwdstrength {
	LINE-HEIGHT: 22px; PADDING-RIGHT: 10px; COLOR: #999
}
#pwdstrength B {
	MARGIN-TOP: 3px; WIDTH: 104px; FLOAT: left; HEIGHT: 13px; OVERFLOW: hidden
}
.strengthA B {
	BACKGROUND: url(i/pwdstrength.gif) no-repeat 0px 0px
}
.strengthB B {
	BACKGROUND: url(i/pwdstrength.gif) no-repeat 0px -13px
}
.strengthC B {
	BACKGROUND: url(i/pwdstrength.gif) no-repeat 0px -26px
}
#protocol-con {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 8px; OVERFLOW-Y: scroll; MARGIN: 0px auto; PADDING-LEFT: 8px; WIDTH: 600px; PADDING-RIGHT: 8px; HEIGHT: 80px; COLOR: #666; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 8px
}
.service {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; ZOOM: 1; MARGIN-BOTTOM: 13px; BACKGROUND: #f7f7f7; OVERFLOW: hidden; PADDING-TOP: 15px
}
.service LI {
	BACKGROUND-IMAGE: url(i/bg20110922.png); BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 100px; PADDING-LEFT: 17px; PADDING-RIGHT: 17px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 14px; FONT-SIZE: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.service LI.fore {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.service .bl1 {
	WIDTH: 162px; BACKGROUND-POSITION: 17px 0px
}
.service .bl2 {
	WIDTH: 187px; BACKGROUND-POSITION: 17px -15px
}
.service .bl3 {
	WIDTH: 162px; BACKGROUND-POSITION: 17px -30px
}
.service .bl4 {
	WIDTH: 254px; BACKGROUND-POSITION: 17px -45px
}
#protocol-con {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 8px; OVERFLOW-Y: scroll; MARGIN: 0px auto; PADDING-LEFT: 8px; WIDTH: 600px; PADDING-RIGHT: 8px; HEIGHT: 80px; COLOR: #666666; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 8px
}
#protocol-con H4 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; FONT-SIZE: 14px
}
#protocol-con H5 {
	PADDING-BOTTOM: 5px; TEXT-INDENT: 2em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
#protocol-con P {
	TEXT-INDENT: 2em
}
#protocol-con EM {
	FONT-STYLE: italic
}
#protocol-con SPAN {
	TEXT-DECORATION: underline
}
#protocol-con STRONG {
	MARGIN-RIGHT: 5px
}
.form {
	POSITION: relative
}
.form .phone {
	POSITION: absolute; WIDTH: 220px; TOP: 6px; RIGHT: 10px
}
